{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div id="table">
        <table>
            <tr>
                <td>
                    <div id="graveyard">
                        <img src="/static/images/graveyardback.png" alt="">
                    </div>
                </td>
                <td>
                    <div id="deck">
                        <img src="/static/images/cardback.png" alt="">

                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Action</button>
                </td>

                <td>
                    <button type="button" class="btn btn-warning">End turn</button>
                </td>
            </tr>

        </table>

    </div>

    <div id="player">
        <table class="table table-bordered table-dark">
            <tr>
                <td>
                    <div id="role">
                        <img src="/static/images/bandit.png" alt="">
                    </div>
                </td>

                <td>
                    <div id="HP">
                        <img src="/static/images/3hp.png" alt="">

                    </div>
                </td>
                <td>
                    <div id="blues">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">

                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="playerHand">
                        <img src="/static/images/miss.png" alt="">
                        <img src="/static/images/miss.png" alt="">
                        <img src="/static/images/miss.png" alt="">
                        <img src="/static/images/miss.png" alt="">

                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div id="enemy1">
        <table class="table-borderless">
            <tr>
                <td>
                    <div id="enemy1Role">
                        <img src="/static/images/bandit.png" alt="" >
                    </div>
                </td>

                <td>
                    <div id="enemy1Blues">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">

                    </div>
                </td>
                <td>
                    <div id="enemy1HP">
                        <img src="/static/images/3hp.png" alt="">

                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="enemy1Hand">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="enemy3">
        <table class="table-borderless">
            <tr>
                <td>
                    <div id="enemy3HP">
                        <img src="/static/images/3hp.png" alt="">

                    </div>
                </td>
                <td>
                    <div id="enemy3Blues">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">
                    </div>
                </td>

                <td>
                    <div id="enemy3Role">
                        <img src="/static/images/bandit.png" alt="">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="enemy3Hand">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="enemy2">
        <table class="table-borderless">
            <tr>
                <td>
                    <div id="enemy2HP">
                        <img src="/static/images/3hp.png" alt="">

                    </div>
                </td>
                <td>
                    <div id="enemy2Role">
                        <img src="/static/images/bandit.png" alt="">
                    </div>
                </td>

                <td>
                    <div id="enemy2Blues">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">
                        <img src="/static/images/remington.png" alt="">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="enemy2Hand">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">
                        <img src="/static/images/cardback.png" alt="">
                    </div>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}